@font-face {
  font-family: MyriadPro-Light;
  src: url(../fonts/MyriadPro-Light.otf); }
@font-face {
  font-family: MyriadPro-Regular;
  src: url(../fonts/MyriadPro-Regular.otf); }
@font-face {
  font-family: MyriadPro-SemiBold;
  src: url(../fonts/MyriadPro-SemiBold.otf); }
@font-face {
  font-family: MyriadPro-Bold;
  src: url(../fonts/MyriadPro-Bold.otf); }
@font-face {
  font-family: ArialMTBold;
  src: url(../fonts/ArialMTBold.otf); }
*, body {
  margin: 0;
  padding: 0;
  color: #314963;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box; }

body {
  background-color: #F2F5FA; }

ul, p, h2 {
  margin: 0; }

.main-container {
  max-width: 1920px;
  margin: 0 auto; }
  .main-container .inner-container {
    max-width: 1161px;
    margin: 0 auto; }
  @media (min-width: 320px) and (max-width: 1023px) {
    .main-container .empty-grid-item {
      display: none; } }
  .main-container .search-bar {
    position: relative;
    width: 100%; }
    .main-container .search-bar span {
      position: absolute;
      top: 50%;
      left: 6.37px;
      transform: translate(0, -50%); }
    .main-container .search-bar input[type="search"] {
      border: 1px solid #E0E0E0;
      width: 100%;
      height: 37.87px;
      padding: 0 12px 0 36.44px;
      outline: none;
      color: #A0A0A0;
      font-size: 11.65px; }
  .main-container span.short-name {
    grid-row: 1 / 3;
    grid-column: 2;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ADBDCD;
    color: #8EA4BC;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: 18.76px;
    font-family: MyriadPro-Regular; }
  .main-container header {
    height: 66px;
    box-shadow: 0px 0px 3px #00000059;
    margin: 0 0 29.67px;
    position: relative;
    background: #fff;
    /* DISPLAY ONLY SEARCH BAR FOR MOBILE */
    /* DISPLAY ONLY SEARCH BAR FOR MOBILE */
    /* DISPLAY MOBILE MENU ON MOBILE AND TABLET SCREEN */
    /* DISPLAY MOBILE MENU ON MOBILE AND TABLET SCREEN */ }
    @media (min-width: 320px) and (max-width: 1023px) {
      .main-container header {
        height: 60px;
        margin: 0 0 20px; } }
    @media (min-width: 1024px) and (max-width: 1280px) {
      .main-container header {
        padding: 0 20px; } }
    .main-container header .inner-container {
      display: grid;
      position: relative;
      z-index: 10;
      align-items: center;
      grid-template-rows: 66px;
      grid-template-columns: 124.95px 30.68px auto 28.16px 145px 1fr 70px 25.79px 18px 25.79px auto; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .inner-container {
          grid-template-rows: 60px;
          grid-template-columns: 23px 1fr 20px;
          grid-gap: 20px;
          padding: 0 15px; } }
      @media (min-width: 1024px) and (max-width: 1280px) {
        .main-container header .inner-container {
          grid-template-columns: 167.04px 20px 250px 25px 1fr auto 76px auto; } }
    .main-container header .inner-container.have-single-column {
      grid-template-columns: 1fr; }
    .main-container header .inner-container.have-only-search-bar .mobile-menu-button, .main-container header .inner-container.have-only-search-bar .logo, .main-container header .inner-container.have-only-search-bar .mobile-search-button {
      display: none; }
    .main-container header .inner-container.have-only-search-bar .mobile-search-close-button {
      display: block; }
    .main-container header .inner-container.have-only-search-bar .search-bar {
      display: block; }
    .main-container header .inner-container.have-mobile-menu-open {
      background: #fff;
      padding: 0 15px 15px;
      grid-gap: 0px 20px;
      box-shadow: 0px 0px 5px #022D1D59; }
      .main-container header .inner-container.have-mobile-menu-open .mobile-menu-button {
        display: none; }
      .main-container header .inner-container.have-mobile-menu-open .mobile-search-button {
        opacity: 0; }
      .main-container header .inner-container.have-mobile-menu-open .mobile-menu-close-button {
        display: block; }
      .main-container header .inner-container.have-mobile-menu-open .search-bar {
        display: block;
        grid-column: 1/4;
        margin: 0 0 20px; }
      .main-container header .inner-container.have-mobile-menu-open .quick-menu {
        display: block;
        grid-column: 1/4;
        grid-row: 4; }
        .main-container header .inner-container.have-mobile-menu-open .quick-menu ul li {
          margin: 0;
          padding: 15px 0;
          display: block;
          border-top: 1px solid #E0E0E0; }
      .main-container header .inner-container.have-mobile-menu-open .messages {
        display: block;
        grid-column: 1/4; }
        .main-container header .inner-container.have-mobile-menu-open .messages ul li {
          margin: 0;
          padding: 15px 0;
          display: block;
          border-top: 1px solid #E0E0E0;
          border-bottom: 1px solid #E0E0E0; }
      .main-container header .inner-container.have-mobile-menu-open .user-detail-dropdown {
        display: block;
        grid-column: 1/4;
        padding: 15px 0;
        border-top: 1px solid #E0E0E0;
        grid-row: 3; }
    .main-container header .mobile-menu-button {
      display: none; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .mobile-menu-button {
          display: block;
          font-size: 26px; } }
    .main-container header .mobile-menu-close-button {
      font-size: 20px;
      display: none; }
    .main-container header .logo {
      height: 33px;
      width: 125px; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .logo {
          justify-self: center; } }
      .main-container header .logo a {
        height: 33px;
        display: block;
        background: url(../images/logo.svg) no-repeat;
        text-indent: -9000px; }
        @media (min-width: 320px) and (max-width: 1023px) {
          .main-container header .logo a {
            background-size: contain; } }
    .main-container header .mobile-search-button {
      display: none; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .mobile-search-button {
          display: block;
          font-size: 20px; } }
    .main-container header .mobile-search-close-button {
      display: none;
      font-size: 20px;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 10; }
    @media (min-width: 320px) and (max-width: 1023px) {
      .main-container header .bell-icon {
        display: none; } }
    .main-container header .search-bar {
      position: relative;
      width: 100%; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .search-bar {
          display: none; } }
      .main-container header .search-bar span {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 6.22px;
        transform: translate(0, -50%); }
      .main-container header .search-bar span.arrow {
        right: 8.46px;
        left: initial; }
      .main-container header .search-bar input[type="search"] {
        border: 1px solid #E7ECF2;
        width: 100%;
        height: 35.88px;
        padding: 0 20px 0 24.43px;
        outline: none;
        color: #A0A0A0;
        font-size: 13.18px;
        color: #CED8E1;
        border-radius: 4px; }
        .main-container header .search-bar input[type="search"]::placeholder {
          color: #CED8E1; }
    .main-container header .bell-icon {
      cursor: pointer; }
    .main-container header ul li {
      display: inline-block;
      margin: 0 28px 0 0; }
      .main-container header ul li:last-child {
        margin: 0; }
      .main-container header ul li a {
        text-decoration: none;
        font-size: 16px;
        display: block;
        font-weight: 500;
        color: #314963; }
    .main-container header .quick-menu {
      width: 100%; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .quick-menu {
          display: none; } }
    @media (min-width: 320px) and (max-width: 1023px) {
      .main-container header .messages {
        display: none; } }
    .main-container header .messages ul li {
      position: relative; }
      .main-container header .messages ul li a span.message-count {
        font-family: MyriadPro-SemiBold;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        /* right: -9.77px; */
        font-size: 13.59px;
        background-color: #71B659;
        color: #ffffff;
        padding: 4px 8px;
        border-radius: 5px;
        margin: 0 0 0 9.77px; }
    .main-container header .user-detail-dropdown {
      cursor: pointer;
      position: relative; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container header .user-detail-dropdown {
          display: none; } }
      .main-container header .user-detail-dropdown:hover div.c-dropdown-menu .dropdown-content {
        display: block; }
      .main-container header .user-detail-dropdown .user-detail {
        display: grid;
        grid-gap: 4px 8px;
        grid-template-rows: 17px 9px;
        align-items: center;
        grid-template-columns: auto 46.61px; }
        .main-container header .user-detail-dropdown .user-detail p.name {
          font-size: 16px;
          grid-column: 1;
          grid-row: 1;
          font-weight: 500; }
        .main-container header .user-detail-dropdown .user-detail span.user-type {
          font-size: 14px;
          color: #ADBDCD; }
  .main-container .content-container .single-card {
    border-radius: 9px;
    height: 220px;
    position: relative; }
    .main-container .content-container .single-card h2 {
      color: #fff;
      font-size: 14px;
      line-height: 16.8px; }
    .main-container .content-container .single-card span.card-number {
      position: absolute;
      right: 25px;
      top: 40px;
      font-size: 30.38px;
      line-height: 36.7px;
      color: #fff; }
    .main-container .content-container .single-card span.card-date {
      position: absolute;
      bottom: 11px;
      left: 50%;
      transform: translate(-50%, 0);
      font-size: 13.68px;
      line-height: 16.48px;
      font-family: ArialMTBold; }
  .main-container .content-container .single-card.total-spend-card {
    background-color: #314963;
    background-image: url(../images/total-spend-bg.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%; }
    .main-container .content-container .single-card.total-spend-card span.card-date {
      color: #314963; }
  .main-container .content-container .single-card.work-in-progress-card {
    background-color: #71B659;
    background-image: url(../images/work-progress-bg.svg), url(../images/work-progress-bg-2.svg);
    background-position: bottom, 100% 96px;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, auto; }
    @media (min-width: 467px) and (max-width: 540px) {
      .main-container .content-container .single-card.work-in-progress-card {
        background-position: bottom, 100% 82px; } }
    .main-container .content-container .single-card.work-in-progress-card span.card-date {
      color: #71B659; }
  .main-container .content-container .single-card.project-complete-card {
    background-color: #ADBDCD;
    background-image: url(../images/project-complete-bg.svg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat; }
    .main-container .content-container .single-card.project-complete-card span.card-date {
      color: #ADBDCD; }
  .main-container .content-container .single-content-box {
    box-shadow: 0px 0px 3px #313C4F59;
    border-radius: 6px;
    background-color: #fff;
    position: relative; }
    .main-container .content-container .single-content-box .box-heading.columns-2 {
      grid-template-columns: 3fr 1fr;
      grid-gap: 10px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .main-container .content-container .single-content-box .box-heading.columns-2 {
          grid-template-columns: 1.5fr 1fr;
          padding: 0 10px !important; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        .main-container .content-container .single-content-box .box-heading.columns-2 {
          padding: 0 14px !important; } }
    .main-container .content-container .single-content-box .box-heading {
      display: grid;
      align-items: center;
      height: 54px;
      border-bottom: 1px solid #E3EAF4; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container .content-container .single-content-box .box-heading {
          padding: 0 15px !important; } }
      .main-container .content-container .single-content-box .box-heading h2 {
        font-size: 24px;
        line-height: 28.8px;
        color: #314963;
        font-weight: 500; }
        @media (min-width: 320px) and (max-width: 480px) {
          .main-container .content-container .single-content-box .box-heading h2 {
            font-size: 14px; } }
        @media (min-width: 481px) and (max-width: 767px) {
          .main-container .content-container .single-content-box .box-heading h2 {
            font-size: 18px; } }
        @media (min-width: 768px) and (max-width: 1023px) {
          .main-container .content-container .single-content-box .box-heading h2 {
            font-size: 20px; } }
      .main-container .content-container .single-content-box .box-heading span {
        justify-self: end;
        color: #ADBDCD;
        font-size: 14px;
        line-height: 16.8px; }
        @media (min-width: 320px) and (max-width: 480px) {
          .main-container .content-container .single-content-box .box-heading span {
            font-size: 12px; } }
    .main-container .content-container .single-content-box .box-detail {
      padding: 0; }
      @media (min-width: 320px) and (max-width: 1023px) {
        .main-container .content-container .single-content-box .box-detail {
          padding: 15px !important; } }
      .main-container .content-container .single-content-box .box-detail p {
        color: #ADBDCD;
        font-size: 14px; }
      .main-container .content-container .single-content-box .box-detail .conent-box-row {
        border-bottom: 1px solid #E3EAF4; }
        @media (min-width: 320px) and (max-width: 1023px) {
          .main-container .content-container .single-content-box .box-detail .conent-box-row {
            padding: 0 0 15px !important;
            margin: 0 0 15px; } }
        .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data {
          display: grid;
          grid-template-columns: 4fr 2fr 45px 2fr;
          grid-gap: 15px;
          margin: 0 0 4px; }
          @media (min-width: 320px) and (max-width: 767px) {
            .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data {
              grid-gap: 8px; } }
          .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data:last-child {
            margin: 0; }
          .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data a {
            text-decoration: none; }
          .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data h2, .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data p, .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data a {
            color: #314963;
            font-size: 14px;
            line-height: 16.8px;
            font-weight: 600; }
            @media (min-width: 320px) and (max-width: 480px) {
              .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data h2, .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data p, .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data a {
                font-size: 12px; } }
          .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data p span {
            font-size: inherit;
            line-height: inherit;
            color: #71B659; }
          .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data span {
            font-size: 12px;
            line-height: 14.4px;
            color: #ADBDCD; }
            @media (min-width: 320px) and (max-width: 767px) {
              .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data span {
                font-size: 11px; } }
          .main-container .content-container .single-content-box .box-detail .conent-box-row .row-data .price-column {
            justify-self: end; }
  .main-container .content-container .main-content .single-content-box {
    max-height: 458px;
    height: 458px;
    overflow-y: auto; }
    .main-container .content-container .main-content .single-content-box .no-record-found {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      bottom: 100px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .main-container .content-container .main-content .single-content-box .no-record-found {
          width: 270px; } }
      .main-container .content-container .main-content .single-content-box .no-record-found img {
        margin: 0 0 20px; }
      .main-container .content-container .main-content .single-content-box .no-record-found h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 28.8px;
        color: #314963;
        margin: 0 0 4px; }
        @media (min-width: 320px) and (max-width: 767px) {
          .main-container .content-container .main-content .single-content-box .no-record-found h2 {
            font-size: 18px; } }
      .main-container .content-container .main-content .single-content-box .no-record-found p {
        font-size: 14px;
        line-height: 16.8px;
        color: #ADBDCD; }
  .main-container .content-container .right-content .buttons-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 44px;
    margin: 0 0 18px;
    grid-template-rows: 46px; }
    @media (min-width: 320px) and (max-width: 460px) {
      .main-container .content-container .right-content .buttons-list {
        grid-template-columns: 1fr; } }
    @media (min-width: 320px) and (max-width: 767px) {
      .main-container .content-container .right-content .buttons-list {
        grid-gap: 20px; } }
    @media (min-width: 768px) and (max-width: 1200px) {
      .main-container .content-container .right-content .buttons-list {
        grid-gap: 20px;
        grid-template-columns: 1fr; } }
    .main-container .content-container .right-content .buttons-list li {
      list-style: none;
      border-radius: 3px;
      background-color: #ADBDCD;
      display: grid;
      align-items: center; }
      .main-container .content-container .right-content .buttons-list li:hover {
        background-color: #c1cfdc; }
      .main-container .content-container .right-content .buttons-list li a {
        padding: 9px 0;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #8CA2BB;
        font-size: 24px;
        line-height: 28.81px;
        font-family: MyriadPro-Regular; }
    .main-container .content-container .right-content .buttons-list li.active {
      background: #6FB556; }
      .main-container .content-container .right-content .buttons-list li.active:hover {
        background-color: #64ab4b; }
      .main-container .content-container .right-content .buttons-list li.active a {
        color: #ffffff; }
  .main-container .content-container .right-content .single-content-box p {
    margin: 0 0 20px; }
  .main-container .content-container .right-content .box-detail .conent-box-row {
    display: grid;
    grid-gap: 4px;
    margin: 0 0 12px; }
    @media (min-width: 320px) and (max-width: 1023px) {
      .main-container .content-container .right-content .box-detail .conent-box-row {
        padding: 0 0 15px !important; } }
    .main-container .content-container .right-content .box-detail .conent-box-row:last-child {
      margin: 0 0 20px; }
    .main-container .content-container .right-content .box-detail .conent-box-row a {
      text-decoration: none;
      color: #314963; }
    .main-container .content-container .right-content .box-detail .conent-box-row a, .main-container .content-container .right-content .box-detail .conent-box-row span.price {
      font-size: 14px;
      line-height: 16.8px;
      font-weight: 600; }
    .main-container .content-container .right-content .box-detail .conent-box-row p {
      font-size: 12px;
      line-height: 14.4px;
      color: #ADBDCD;
      margin: 0; }
      .main-container .content-container .right-content .box-detail .conent-box-row p span {
        color: #6FB556; }
  .main-container .content-container button.custom-button {
    background-color: #F2F7FA;
    width: 201px;
    height: 40px;
    border-radius: 3px;
    color: #8CA2BB;
    font-size: 16px;
    line-height: 19.2px;
    border: none;
    outline: none;
    margin: 0 0 24px;
    margin: 0 auto 24px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
    margin: 0 auto 24px; }
    .main-container .content-container button.custom-button:hover {
      background-color: #e5eef3; }
  .main-container .content-container .inner-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .main-container .content-container .inner-container {
        grid-template-columns: 1fr;
        grid-gap: 24px; } }
    @media (min-width: 768px) and (max-width: 1023px) {
      .main-container .content-container .inner-container {
        grid-template-columns: 2fr 1fr;
        grid-gap: 24px; } }
    .main-container .content-container .inner-container .cards-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 31px; }
      @media (min-width: 320px) and (max-width: 540px) {
        .main-container .content-container .inner-container .cards-list {
          grid-template-columns: 1fr;
          grid-gap: 24px; } }
      @media (min-width: 541px) and (max-width: 1023px) {
        .main-container .content-container .inner-container .cards-list {
          grid-gap: 24px; } }

/*# sourceMappingURL=style.css.map */
